@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

* {
  font-family: "Barlow Semi Condensed", sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: radial-gradient(
    ellipse at top,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 45px 0;
  position: relative;
}

main .intro {
  padding: 20px 30px;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
}

main .intro .game-name {
  list-style-type: none;
  text-transform: uppercase;
  line-height: 0.8;
  margin: 0;
  padding: 0;
}

main .intro .game-name li {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}

main .intro .score {
  margin: 0;
  width: 150px;
  border-radius: 0.5em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: hsl(229, 64%, 46%);
  text-transform: uppercase;
  letter-spacing: 2px;
}

main .intro .score span {
  color: hsl(229, 25%, 31%);
  font-size: 60px;
  font-weight: 700;
  margin-top: -10px;
}

main .pentagon {
  position: relative;
  background-image: url("../images/bg-pentagon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 350px;
  margin: 150px 0;
}

main .pentagon .you-picked,
main .pentagon .house-picked,
main .result .you-picked,
main .result .house-picked {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 40% 60%;
  background-position: center;
  padding: 25px;
  width: 160px;
  height: 160px;
  border: 20px solid;
  border-radius: 50%;
}

main .pentagon .you-picked:hover {
  cursor: pointer;
}

main .pentagon .you-picked[name="Scissors"] {
  top: -28%;
  left: 39%;
  border-color: hsl(39, 89%, 49%);
}

main .pentagon .you-picked[name="Paper"] {
  right: 11%;
  top: 11%;
  border-color: hsl(230, 89%, 62%);
}

main .pentagon .you-picked[name="Rock"] {
  right: 21%;
  top: 72%;
  border-color: hsl(349, 71%, 52%);
}

main .pentagon .you-picked[name="Lizard"] {
  left: 21%;
  top: 72%;
  border-color: hsl(261, 73%, 60%);
}

main .pentagon .you-picked[name="Spock"] {
  left: 11%;
  top: 11%;
  border-color: hsl(189, 59%, 53%);
}

main .pentagon .result .you-picked[name="Scissors"],
main .pentagon .result .you-picked[name="Paper"],
main .pentagon .result .you-picked[name="Rock"],
main .pentagon .result .you-picked[name="Lizard"],
main .pentagon .result .you-picked[name="Spock"],
main .pentagon .result .house-picked[name="Scissors"],
main .pentagon .result .house-picked[name="Paper"],
main .pentagon .result .house-picked[name="Rock"],
main .pentagon .result .house-picked[name="Lizard"],
main .pentagon .result .house-picked[name="Spock"] {
  position: static;
}

main .pentagon .result {
  display: flex;
  justify-content: space-between;
}

main .pentagon .result .section-pick,
main .pentagon .result .section-win-lose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .pentagon .result .section-pick p {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

main button.modal-rules {
  position: absolute;
  bottom: 10%;
  right: 0;
  background-color: transparent;
  text-transform: uppercase;
  padding: 1% 5%;
  border: 1px solid #fff;
  border-radius: 0.5em;
  color: #fff;
  letter-spacing: 2px;
}

main button.modal-rules:hover,
section.show-rules .modal-header button:hover {
  cursor: pointer;
}

section.show-rules {
  background-color: #fff;
  padding: 1.8%;
  border-radius: 0.5em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

section.show-rules .modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

section.show-rules .modal-header h2 {
  color: hsl(214, 47%, 23%);
  margin: 0;
  text-transform: uppercase;
  font-size: 2em;
}

section.show-rules .modal-header button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

section.show-rules img {
  margin-bottom: 2%;
}
